html {
    font-size: 15px;
    --backdrop-clr: #a7c957;
    --sec-backdrop-clr: #f2e8cf;
    --highlight-clr: #bc4749;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
    letter-spacing: .8px;
}

@font-face {
    font-family: circular-std-bold;
    src: url(CircularStdBold.woff);
}

.content {
    width: 100vw;
    display: flex;
}

/*Left side*/
.banner {
    width: 40vw;
    background-image: url('brokecar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner .banner-body {
    background-color: rgba(70, 70, 70, 0.7);
    height: auto;
    width: 100%;
    padding: 2px 0;
    position: relative;
    top: 120px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}
.banner-body > img {
    height: 9rem;
    filter: brightness(0) invert(1);
}
h1 {
    color: white;
    font-size: 2.4rem;
    font-family: 'circular-std-bold', 'Trebuchet MS', 'Lucida Sans Unicode';
    margin-top: 2px;
}

/*Right side*/
.main {
    width: 60vw;
    background-color: var(--backdrop-clr, lightgreen);
    display: flex;
    flex-direction: column;
}

.top {
    padding: 76px 60px 60px;
}
.main-text {
    font-family: 'circular-std-bold', 'Trebuchet MS', 'Lucida Sans Unicode';
    font-size: 1.5rem;
    font-weight: 500;
    word-wrap: break-word;
}
.main-text + .main-text {
    margin-top: 45px;
}

.middle {
    padding: 35px 60px;
    background-color: var(--sec-backdrop-clr, lightgoldenrodyellow);
}
form > .main-text {
    font-weight: 550;
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
}

.bottom {
    padding: 40px 60px;
    background-color: var(--backdrop-clr, lightgreen);
}
button[type="submit"] {
    padding: 12px 16px;
    background-color: var(--sec-backdrop-clr, lightgoldenrodyellow);
    border-radius: 8px;
    border-style: none;
    box-shadow: 1px 2px;
    color: var(--highlight-clr, crimson);
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
button[type="submit"]:hover {
    background-color: rgb(224, 224, 169);
}
a {
    color: rgb(0, 60, 255);
}

/*Form Styles*/
.questions {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    gap: 1.4rem;
}
label {
    font-size: 1rem;

}
input {
    padding: 5px;
    font-size: 1.1rem;
    display: block;
    margin-top: 5px;
    margin-right: 2rem;
    border: 2px solid rgb(150, 150, 150);
    border-radius: 4px;
    width: 15rem;
}

input:focus:valid {
    outline: none;
    border: 2px solid #27bb45;
}
input:focus:invalid {
    outline: none;
    border: 2px solid var(--highlight-clr, crimson);;
}

/*Color Palette - https://coolors.co/palette/386641-6a994e-a7c957-f2e8cf-bc4749 */